<% @game.rows.times do |row| %>
  <% @game.cols.times do |col| %>
    <% move = @moves.find { |m| m.x == col && m.y == row } %>

    <% classes = [] %>
    <% if move.present? %>
      <% classes << (move.move_number.even? ? "even" : "odd") %>
    <% end %>

    <div
      id="cell-<%= col %>-<%= row %>"
      class="cell <%= classes.join(' ') %>"
      data-col="<%= col %>"
      data-row="<%= row %>"
      data-turn="<%= move&.move_number %>"
    >
    </div>
  <% end %>
<% end %>
