<% content_for :head do %>
  <%= stylesheet_link_tag "go" %>
<% end %>
<%= javascript_include_tag "go", type: "module", defer: true %>

<div
  id="game"
  data-game-id="<%= @game.id %>"
  data-player-id="<%= session[:player_id] %>"
  data-stage="<%= @game.stage %>"
  data-game-state="<%= @engine.serialize.to_json %>"
>
  <style>
    me {
      margin: 1em;
    }
  </style>
  <div id="goban"></div>
  <div id="status"></div>
  <div id="captures"></div>
  
  <!-- Undo Controls -->
  <div id="undo-controls">
    <button id="request-undo-btn" style="display: none;">Request Undo</button>
    <div id="undo-notification" style="display: none;"></div>
    <div id="undo-response-controls" style="display: none;">
      <p>Opponent has requested to undo their last move.</p>
      <button id="accept-undo-btn">Accept</button>
      <button id="reject-undo-btn">Reject</button>
    </div>
  </div>
</div>
<div id="game-error"></div>

<div id="chat" class="chat">
  <style>
  me {
    margin: 1em;

    .chat-box {
      background-color: #eee;
      border: 1px solid black;
      height: 150px;
      overflow-y: auto;
      padding: 0.5em;

      & p {
        margin: 0;
      }

      & p + p {
        margin-top: 0.2em;
      }
    }
  }
  </style>
  <% if @current_player != @game.creator && ! @game.is_private && @game.players.any?(&:nil?) %>
    <%= button_to "Join Game", join_game_path(@game.id), method: :post %>
  <% end %>
  <div
    id="chat-box"
    class="chat-box"
    data-chat-log='<%= raw(serialized_chat_log(@game)) %>'
  ></div>
  <form id="chat-form">
    <input
      type="text"
      id="chat-input"
      placeholder="Say something..."
      autocomplete="off"
    />
    <button type="submit">Send</button>
  </form>
</div>
